<div class="welcome-container">
  <mat-card>
    <mat-card-header class="center-title">
      <mat-card-title>Bienvenue sur Settings-App</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Explorez le menu pour gérer vos étudiants, professeurs, classes et matières. Nous sommes là pour simplifier votre travail !
      </p>
      <button
        *ngIf="!isLoggedIn"
        mat-raised-button
        color="primary"
        (click)="redirectToLoginPage()"
      >
        Se connecter
      </button>
    </mat-card-content>
  </mat-card>
</div>
